body{
  padding:70px;
  margin:0px;
  scroll-behavior:smooth;
  background-color:#ffffff;
  font-family:'Montserrat', sans-serif;
 

}
h1{
  font-size:40px;
}
.hero{
  width:auto;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.hero img{
  height:auto;
  width:50%;
  display:block;
  margin:0 auto;
}
.hero p{
  padding:0px;
  margin:0px;
  font-size:30px;
}
.services{
  display:flex;
  flex-direction:column;  
}
.services div{
  padding-top:30px;
  display:flex;
  flex-direction:row;
}
.services h2{
  padding-top:20px;
  font-size:35px;
}
.services p{
  font-size:25px;
}
.services button{
  background-color:#e8e6e6;
  padding:10px;
  font-size:20px;
  border-radius:10px;
}
.services button:hover{
  background-color:#ffffff;
  cursor:pointer;
  
}
.about{
  display:flex;
  flex-direction:column;
}
.about div{
  padding-top:30px;
  font-size:25px;
}
.footer{
  display:flex;
  flex-direction:column;
  gap:15px;
  background-color:#e8e6e6;
  
}
.footer a{
  color:#000000;
  text-decoration:none;
  font-size:20px;
}
  
  
